version: '3'
networks:
  home:
volumes:
    pihole-data:
    pihole-dnsmasq-data:
    unifi-data:
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    expose:
      - "80"
      - "443"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
    environment:
      - TZ=Europe/Madrid
      - WEBPASSWORD=raspberry
      - VIRTUAL_HOST=pihole.local
      - ServerIP=192.168.0.100
    volumes:
      - 'pihole-data:/etc/pihole/'
      - 'pihole-dnsmasq-data:/etc/dnsmasq.d/'
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - home
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped
    networks:
      - home
#  audiobookshelf:
#    image: ghcr.io/advplyr/audiobookshelf:latest
#    environment:
#      - AUDIOBOOKSHELF_UID=99
#      - AUDIOBOOKSHELF_GID=100
#    ports:
#      - 13378:8811
#    volumes:
#      - /home/pi/abs/audiobooks:/audiobooks
#      - /home/pi/abs/:/podcasts
#      - /home/pi/abs/config:/config
#      - /home/pi/abs/metadata:/metadata
#    networks:
#      - home
#    restart: unless-stopped
