volumes:
  pihole-data:
  pihole-dnsmasq-data:
  homebridge-data:
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    environment:
      TZ: Europe/Madrid
      FTLCONF_LOCAL_IPV4: 192.168.1.100
      DNSMASQ_LISTENING: all
    ports:
      - "80:80/tcp"
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - pihole-data:/etc/pihole/
      - pihole-dnsmasq-data:/etc/dnsmasq.d/
    restart: unless-stopped
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:latest
    environment:
      TZ: Europe/Madrid
    ports:
      - "8581:8581/tcp"
      - "51826:51826/tcp"
    volumes:
      - homebridge-data:/homebridge
    restart: unless-stopped