volumes:
  pihole-data:
  pihole-dnsmasq-data:
  homebridge-data:
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    environment:
      - TZ=Europe/Madrid
      - ServerIP=192.168.1.100
    volumes:
      - 'pihole-data:/etc/pihole/'
      - 'pihole-dnsmasq-data:/etc/dnsmasq.d/'
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=Europe/Madrid
      - HOMEBRIDGE_CONFIG_UI=1
      - HOMEBRIDGE_CONFIG_UI_PORT=8581
    volumes:
      - homebridge-data:/homebridge
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
#  audiobookshelf:
#    image: ghcr.io/advplyr/audiobookshelf:latest
#    environment:
#      - AUDIOBOOKSHELF_UID=99
#      - AUDIOBOOKSHELF_GID=100
#    ports:
#      - 13378:8811
#    volumes:
#      - /home/pi/abs/audiobooks:/audiobooks
#      - /home/pi/abs/:/podcasts
#      - /home/pi/abs/config:/config
#      - /home/pi/abs/metadata:/metadata
#    networks:
#      - home
#    restart: unless-stopped
